/* Import Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&display=swap');

/* Root Variables */
:root,
::before,
::after {
  --font-main: #fafafd;
  --font-second: #e5e5f7;
  --bg-main: #333333;
  --bg-second: #404042;
  --bg-third: #aaaaaa;
  --fa-clear: #dd4e51;
  --fa-edit: #6da6fc;
  --fa-finished: #74d182;
  --fa-unfinished: #febc67;
  --shadow-main: #cbcbcb;
  --shadow-second: #dadada;
}
/* Root Variables */

/* General Declaring */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  text-decoration: none;
  list-style: none;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: var(--bg-main);
}
html::-webkit-scrollbar-thumb {
  background: var(--font-main);
  border-radius: 1rem;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--font-main);
  background: var(--bg-main);
  width: 75%;
  margin: 0 auto;
}
/* General Declaring */

/* Header Design */
.header-wrapper {
  height: 300px;
  margin-top: 1rem;
}
.header-slider {
  border-radius: 1rem;
  box-shadow: 0 -5px 10px rgba(154, 160, 185, 0.05), 0 10px 40px rgba(166, 173, 201, 0.2);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header-slider .header-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}
.header-slider .header-slide:nth-child(1) {
  background-image: url('../assets/banner/headBannerDarkBlack.jpg');
}
.header-slider .header-slide:nth-child(2) {
  background-image: url('../assets/banner/headBannerBlack.jpg');
}
.header-slider .header-slide:nth-child(3) {
  background-image: url('../assets/banner/headBannerDarkBlue.jpg');
}
.header-slider .header-slide:nth-child(4) {
  background-image: url('../assets/banner/headBannerBlue.jpg');
}
.header-slider .header-slide:nth-child(5) {
  background-image: url('../assets/banner/headBannerPurple.jpg');
}
.header-slider .header-slide:nth-child(6) {
  background-image: url('../assets/banner/headBannerDarkGreen.jpg');
}
.header-slider .header-slide:nth-child(7) {
  background-image: url('../assets/banner/headBannerGreen.jpg');
}
.header-slider .header-slide:nth-child(8) {
  background-image: url('../assets/banner/headBannerBrown.jpg');
}
.header-slider .header-slide:nth-child(9) {
  background-image: url('../assets/banner/headBannerRed.jpg');
}
.header-slider .header-slide:nth-child(10) {
  background-image: url('../assets/banner/headBannerDarkPink.jpg');
}
.header-slider .header-slide:nth-child(11) {
  background-image: url('../assets/banner/headBannerPink.jpg');
}
.header-slider .header-slide:nth-child(12) {
  background-image: url('../assets/banner/headBannerDarkOrange.jpg');
}
.header-slider .header-slide:nth-child(13) {
  background-image: url('../assets/banner/headBannerOrange.jpg');
}
.header-slider .header-slide:nth-child(14) {
  background-image: url('../assets/banner/headBannerDarkYellow.jpg');
}
.header-slider .header-slide:nth-child(15) {
  background-image: url('../assets/banner/headBannerYellow.jpg');
}
.header-slider .header-slide:nth-child(16) {
  background-image: url('../assets/banner/headBannerDarkGrey.jpg');
}
.header-slider .header-slide:nth-child(17) {
  background-image: url('../assets/banner/headBannerGreyBlue.jpg');
}
.header-slider .header-slide:nth-child(18) {
  background-image: url('../assets/banner/headBannerDarkWhite.jpg');
}
.header-slider .header-slide:nth-child(19) {
  background-image: url('../assets/banner/headBannerWhite.jpg');
}
.header-slider .header-slide:nth-child(20) {
  background-image: url('../assets/banner/headBannerSpace.jpg');
}
.header-title {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-13%, -50%);
  text-align: justify;
  text-shadow: 2px 2px 7px var(--bg-second);
  color: #fff;
  z-index: 999;
}
.header-title h1 {
  letter-spacing: 3px;
  text-decoration: overline;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.header-title p {
  width: 100%;
  font-style: italic;
  font-size: 1rem;
}
/* Header Design */

main {
  margin-top: 1rem;
}
/* Search Design */
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.search {
  background-color: var(--bg-second);
  font-size: 0.9rem;
  flex-basis: 100%;
  padding: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 1rem;
  color: var(--font-main); 
}
.search::placeholder {
  color: var(--font-main);
}
@media only screen and (max-width:1115px) {
  .search-container {
      width: 80%;
  }
}

@media only screen and (max-width:960px) {
  .search-container {
      width: 80%;
  }
}

@media only screen and (max-width:640px) {
  .search-container > .search {
      width: 65%;
  }
}

@media only screen and (max-width:560px) {
  .search-container {
      flex-direction: column;
      height: auto;
  }

  .search-container > .search {
      width: 100%;
  }

  .search-container > .search > input {
      padding-left: 70px;
  }
}
/* Search Design */

/* Profile and Button Add Design */
.main-content {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.profile-add {
  width: 34%;
}
.my-book-shelf {
  width: 63%;
}
.my-container {
  background-color: var(--bg-second);
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 25px rgba(166, 173, 201, 0.2);
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.user-info {
  position: relative;
}
.user-info .user-img img {
  width: 100px;
  border-radius: 50%;
  top: 0;
  left: 11%;
  background: var(--bg-third);
  padding: 2px;
  margin-top: -40px;
  position: relative;
}
.user-info .user-name {
  letter-spacing: 1px;
  text-shadow: 5px 5px 2px var(--bg-main);
  color: var(--font-second);
}
.user-info .user-bio {
  margin-top: 1rem;
  color: var(--font-second);
  font-weight: 300;
}
.user-info ul {
  display: flex;
  padding-top: 0.5rem;
  justify-content: center;
  text-align: center;
}
.user-info ul li {
  margin: 10px;
  width: 50%;
}
.user-info ul li p {
  color: var(--font-second);
  text-transform: uppercase;
  font-size: 1.1rem;
  text-decoration: underline;
  font-weight: 700;
}
.user-info ul li h4 {
  color: var(--font-second);
  font-size: 2rem;
  font-weight: 500;
}
.button-add {
  margin: 0.5rem;
}
.button-add button {
  width: 100%;
  background-color: inherit;
  font-weight: 900;
  letter-spacing: 3px;
  padding: 0.7rem 1rem;
  color: var(--font-main);
  border: 2px solid var(--font-main);
  border-radius: 1rem;
  transition: all 0.3s ease-out;
}
.button-add button span {
  margin-left: 7px;
}
.button-add button:hover {
  background-color: var(--font-main);
  font-weight: 700;
  letter-spacing: 7px;
  padding: 0.7rem 1rem;
  color: var(--bg-second);
  border: 2px solid var(--font-main);
}
/* Profile and Button Add Design */

/* Welcome Design */
.welcome {
  padding: 1rem 1.5rem;
}
.welcome-title {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px var(--bg-third);
  color: var(--font-main);
}
.welcome-text {
  font-style: italic;
  margin-top: 0.5rem;
  color: var(--font-main);
  font-weight: 300;
}
/* Welcome Design */

/* Overlay Add Book */
#form-book {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.input-section {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 16px;
  color: var(--font-main);
  border: 2px solid var(--bg-second);
  border-radius: 20px;
  background-color: var(--bg-main);
  box-shadow: 0px 0px 10px 1px var(--bg-second);
}
.input-section .title-input {
  position: relative;
}
.input-section .title-input .title-form {
  color:var(--font-main);
}
.input-section .title-input #close {
  position: absolute;
  padding: 0 0.7rem;
  top: -10px;
  right: 0px;
  border: none;
  outline: none;
  font-size: 35px;
  color: var(--font-main);
  cursor: pointer;
}
.input-section .title-input #close:hover {
  color: var(--bg-main);
  border-radius: 10rem;
  background-color: var(--font-main);
  transition: 0.2s ease-out;
}
.input-section .title-input h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin: 10px auto 15px;
}
.input-section form {
  margin-bottom: 15px;
}
.input-section form .input input {
  display: block;
  width: 95%;
  font-size: 1rem;
  height: 60px;
  margin: 20px auto;
  border: none;
  outline: none;
  border: 1px solid var(--bg-third);
  color: var(--bg-second);
  border-radius: 15px;
  padding: 0 20px;
}
.input-section form .input input::placeholder {
  color: var(--bg-second);
}
.input-section form .input input:focus {
  outline: none;
  border-color: var(--bg-third);
  box-shadow: 0 0 7px var(--bg-third);
  transition: 0.2s;
}
.input-section form .input-inline {
  width: 95%;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.input-section form .input-inline input {
  margin-left: 5px;
}
.input-section form .input-inline label {
  color: var(--font-second);
  font-weight: 500;
  margin-left: 10px;
}
.input-section form button {
  background-color: var(--font-main);
  border: 1.5px solid var(--bg-second);
  color: var(--bg-second);
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 95%;
  padding: 10px;
  cursor: pointer;
}
.input-section form button:hover {
  color: var(--font-main);
  background-color: var(--bg-second);
  transition: all 0.3s;
}
@media only screen and (max-width:1115px) {
  .input-section {
      width: 40%;
  }
}
@media only screen and (max-width:830px) {
  .input-section {
      width: 50%;
  }
}
@media only screen and (max-width:600px) {
  .input-section {
      width: 60%;
  }
}
@media only screen and (max-width:600px) {
  .input-section .title-input h2 {
      margin: 30px auto 15px;
  }

  .input-section .title-input #close {
      position: absolute;
      top: -15px;
      right: 100px;
  }
}
/* Overlay Add Book */

/* Content Book */
.content-book {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.book-shelf > h4 {
  text-transform: uppercase;
  text-decoration:overline;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px var(--bg-third);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.book-shelf .book-list {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.book-shelf .book-list .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
  flex-basis: 300px;
  border-radius: 15px;
  background-color: var(--font-main);
  border: 1px solid var(--font-main);
  box-shadow: 0px 0px 6px 1px var(--font-second);
}

.book-shelf .book-list .card .card-img {
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 15px 15px 0 0;
}

.book-shelf .book-list .card .card-img img {
  max-height: 100%;
  max-width: 100%;
}

.book-shelf .book-list .card .card-body {
  display: flex;
  color: var(--bg-second);
  flex-direction: column;
  padding: 10px 15px 15px 15px;
  width: 100%;
}

.book-shelf .book-list .card .card-body .content h3,
p {
  margin-bottom: 3px;
}
.book-shelf .book-list .card .card-body .content h4 {
  font-style: italic;
}
.book-shelf .book-list .card .card-body .action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  align-items: center;
}

.book-shelf .book-list .card .card-body .action button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--font-main);
  padding: 5px 15px;
}

.book-shelf .book-list .card .card-body .action .done {
  border: 1px solid #19b82b;
  border-radius: 10px;
  color: #19b82b;
}

.book-shelf .book-list .card .card-body .action .done:hover {
  background-color: #19b82b;
  color: var(--font-main);
}

.book-shelf .book-list .card .card-body .action .edit {
  border: 1px solid #0d6efd;
  border-radius: 10px;
  color: #0d6efd;
}

.book-shelf .book-list .card .card-body .action .edit:hover {
  background-color: #0d6efd;
  color: var(--font-main);
}

.book-shelf .book-list .card .card-body .action .undo {
  border: 1px solid #ffc107;
  border-radius: 10px;
  color: #ffc107;
}

.book-shelf .book-list .card .card-body .action .undo:hover {
  background-color: #ffc107;
  color: var(--font-main);
}

.book-shelf .book-list .card .card-body .action .delete {
  border: 1px solid #db2828;
  border-radius: 10px;
  color: #db2828;
}

.book-shelf .book-list .card .card-body .action .delete:hover {
  background-color: #db2828;
  color: var(--font-main);
}

@media only screen and (max-width:1115px) {

  /* styles for browsers max 115px; */
  .content-book {
      width: 80%;
      margin: auto;
  }

  .book-shelf .book-list .card {
      margin: 0px 20px 50px;
  }
}

@media only screen and (max-width:960px) {
  .content-book {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .book-shelf {
      width: 100%;
  }

  .book-shelf .book-list {
      justify-content: center;
  }

  .book-shelf .book-list .card {
      margin: 0px 40px 50px;
  }
}

/* Content Book */

/* Footer */
.footer-container {
  display: flex;
  width: 1000px;
  margin: 50px auto 0;
  line-height: 4;
  border-top: 1px solid white;
}

.footer-container ul {
  display: flex;
  grid-gap: 40px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

.footer-container ul li i {
  color: var(--bg-third);
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-container ul li a {
  color: var(--font-main);
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.footer-container ul li a:hover {
  border-radius: 0.3rem;
  background-color: var(--font-main);
  color: var(--bg-main);
}

.footer-container ul li:hover~li p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {

  0%,
  100% {
      transform: rotate(0deg);
  }

  25% {
      transform: rotate(20deg);
  }

  75% {
      transform: rotate(-15deg);
  }
}

@media only screen and (max-width:1115px) {
  .footer-container {
      width: 80%;
  }
}

@media only screen and (max-width:960px) {
  .footer-container {
      width: 80%;
  }
}

/* Footer */